/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/08/2025, 22:00:18
    Author     : adm_pfelacio
*/

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.banner img{
    width: 100%;
    height: 100%;
    background-color: #000;
}

/* menu de navegação*/
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    position: relative;
}

nav ul li a{
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover{
    background-color: #575757;
}

.menu-icon{
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
    padding: 14px;
}

@media (max-width:768px){
    .menu-icon{ display: block;}


nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
}

nav ul li a{
    padding: 10px;
    text-align: left;
}
nav ul.show{
    display: flex;
}
.content{
    padding: 20px;
}
}
.content{
    padding: 20px;
}
form{
    
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f3f3f3;
    border-radius: 8px;
}

label{
    display: block;
    margin-top: 20px;
    font-weight: bold;
}
 input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select,
textarea{
     width: 100%;
     padding: 8px;
     margin-top: 5px;
     box-sizing: border-box;
     border:2px solid #ccc;
     border-radius: 4px;
 }
textarea{ height: 100px;}
buttom form{
     display: block;
     width: 100%;
     padding: 10px;
     margin-top: 20px;
     background-color: #4CAF50;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }
 button:hover{background-color: #45A049;}

